.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-5.328000px;}
.ls3{letter-spacing:-3.571200px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.009600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-6.067200px;}
._2{margin-left:-3.556800px;}
._1{margin-left:-2.529600px;}
._3{margin-left:-1.310400px;}
._6{width:1.003200px;}
._4{width:3.600000px;}
._0{width:5.328000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y4a{bottom:1.759700px;}
.y17{bottom:1.759800px;}
.y8{bottom:2.164600px;}
.y22{bottom:2.477400px;}
.y2c{bottom:2.492200px;}
.y33{bottom:2.499700px;}
.y5b{bottom:2.507000px;}
.y3f{bottom:2.507080px;}
.y3b{bottom:2.507100px;}
.y4b{bottom:2.750900px;}
.y18{bottom:3.164600px;}
.y1c{bottom:4.159800px;}
.y1a{bottom:4.964600px;}
.y13{bottom:5.164600px;}
.y1d{bottom:5.364600px;}
.y2b{bottom:5.492200px;}
.y32{bottom:5.499700px;}
.y3a{bottom:5.507100px;}
.ya{bottom:5.564600px;}
.y10{bottom:6.559800px;}
.y11{bottom:7.364600px;}
.y1f{bottom:11.870000px;}
.y6{bottom:12.557200px;}
.y4e{bottom:12.899600px;}
.y41{bottom:14.750900px;}
.y2e{bottom:15.759700px;}
.y3d{bottom:15.759780px;}
.y15{bottom:15.759800px;}
.y21{bottom:16.477400px;}
.y2f{bottom:16.492200px;}
.y37{bottom:16.499700px;}
.y5a{bottom:16.507000px;}
.y3e{bottom:16.507080px;}
.y49{bottom:16.750900px;}
.y16{bottom:17.164600px;}
.y2a{bottom:19.492200px;}
.y31{bottom:19.499700px;}
.y39{bottom:19.507100px;}
.ye{bottom:20.559800px;}
.y27{bottom:20.758000px;}
.y28{bottom:20.884800px;}
.yf{bottom:21.364600px;}
.y47{bottom:29.759700px;}
.y35{bottom:29.759800px;}
.y36{bottom:30.499700px;}
.y59{bottom:30.507000px;}
.y48{bottom:30.750900px;}
.yc{bottom:34.559800px;}
.y26{bottom:34.884800px;}
.yd{bottom:35.364600px;}
.y45{bottom:43.759700px;}
.y46{bottom:44.750900px;}
.y58{bottom:47.507000px;}
.y57{bottom:47.543000px;}
.y24{bottom:48.758000px;}
.y25{bottom:48.884800px;}
.y1{bottom:56.692920px;}
.y44{bottom:57.759700px;}
.y43{bottom:58.750900px;}
.y56{bottom:64.507000px;}
.y55{bottom:78.507000px;}
.y54{bottom:78.543000px;}
.y3c{bottom:90.492920px;}
.y53{bottom:95.507000px;}
.y52{bottom:95.543000px;}
.y51{bottom:112.507000px;}
.y50{bottom:112.543000px;}
.y5d{bottom:113.000000px;}
.y38{bottom:118.492900px;}
.y34{bottom:165.500300px;}
.y30{bottom:207.500300px;}
.y2d{bottom:254.507800px;}
.y29{bottom:282.507800px;}
.y5c{bottom:293.000000px;}
.y23{bottom:313.115200px;}
.y20{bottom:373.522600px;}
.y1e{bottom:401.130000px;}
.y4f{bottom:461.493000px;}
.y1b{bottom:480.635400px;}
.y19{bottom:497.035400px;}
.y14{bottom:529.835400px;}
.y12{bottom:557.835400px;}
.y4d{bottom:585.100400px;}
.yb{bottom:590.635400px;}
.y9{bottom:637.435400px;}
.y7{bottom:653.835400px;}
.y4c{bottom:656.249100px;}
.y5{bottom:667.442800px;}
.y4{bottom:681.307080px;}
.y42{bottom:684.249100px;}
.y3{bottom:695.307080px;}
.y2{bottom:710.307080px;}
.y40{bottom:754.249100px;}
.h6{height:13.607420px;}
.h8{height:16.400000px;}
.hc{height:27.607420px;}
.ha{height:28.000000px;}
.hb{height:28.536130px;}
.h4{height:28.864260px;}
.h13{height:29.148630px;}
.hf{height:30.607420px;}
.h11{height:31.058010px;}
.he{height:31.992188px;}
.h16{height:34.898438px;}
.h7{height:34.945312px;}
.h3{height:35.367188px;}
.h10{height:42.000000px;}
.h9{height:46.800000px;}
.h2{height:52.347656px;}
.h5{height:52.417969px;}
.hd{height:60.407420px;}
.h12{height:70.000000px;}
.h14{height:123.607400px;}
.h15{height:128.000000px;}
.h1{height:733.114200px;}
.h0{height:842.000000px;}
.wa{width:43.595650px;}
.w3{width:71.184090px;}
.w5{width:154.132700px;}
.w6{width:197.658700px;}
.wc{width:250.000000px;}
.w7{width:351.791400px;}
.w8{width:397.505000px;}
.w4{width:397.505100px;}
.wb{width:428.954300px;}
.w2{width:468.689100px;}
.w9{width:472.550000px;}
.w1{width:490.614200px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x6{left:2.307080px;}
.xb{left:4.307080px;}
.x9{left:11.123000px;}
.x1{left:52.192920px;}
.x5{left:56.692920px;}
.xa{left:100.288600px;}
.x7{left:127.877000px;}
.x2{left:159.807080px;}
.x4{left:171.807080px;}
.x3{left:197.807080px;}
.x8{left:282.009700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-7.104000pt;}
.ls3{letter-spacing:-4.761600pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.012800pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-8.089600pt;}
._2{margin-left:-4.742400pt;}
._1{margin-left:-3.372800pt;}
._3{margin-left:-1.747200pt;}
._6{width:1.337600pt;}
._4{width:4.800000pt;}
._0{width:7.104000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y4a{bottom:2.346267pt;}
.y17{bottom:2.346400pt;}
.y8{bottom:2.886133pt;}
.y22{bottom:3.303200pt;}
.y2c{bottom:3.322933pt;}
.y33{bottom:3.332933pt;}
.y5b{bottom:3.342667pt;}
.y3f{bottom:3.342773pt;}
.y3b{bottom:3.342800pt;}
.y4b{bottom:3.667867pt;}
.y18{bottom:4.219467pt;}
.y1c{bottom:5.546400pt;}
.y1a{bottom:6.619467pt;}
.y13{bottom:6.886133pt;}
.y1d{bottom:7.152800pt;}
.y2b{bottom:7.322933pt;}
.y32{bottom:7.332933pt;}
.y3a{bottom:7.342800pt;}
.ya{bottom:7.419467pt;}
.y10{bottom:8.746400pt;}
.y11{bottom:9.819467pt;}
.y1f{bottom:15.826667pt;}
.y6{bottom:16.742933pt;}
.y4e{bottom:17.199467pt;}
.y41{bottom:19.667867pt;}
.y2e{bottom:21.012933pt;}
.y3d{bottom:21.013040pt;}
.y15{bottom:21.013067pt;}
.y21{bottom:21.969867pt;}
.y2f{bottom:21.989600pt;}
.y37{bottom:21.999600pt;}
.y5a{bottom:22.009333pt;}
.y3e{bottom:22.009440pt;}
.y49{bottom:22.334533pt;}
.y16{bottom:22.886133pt;}
.y2a{bottom:25.989600pt;}
.y31{bottom:25.999600pt;}
.y39{bottom:26.009467pt;}
.ye{bottom:27.413067pt;}
.y27{bottom:27.677333pt;}
.y28{bottom:27.846400pt;}
.yf{bottom:28.486133pt;}
.y47{bottom:39.679600pt;}
.y35{bottom:39.679733pt;}
.y36{bottom:40.666267pt;}
.y59{bottom:40.676000pt;}
.y48{bottom:41.001200pt;}
.yc{bottom:46.079733pt;}
.y26{bottom:46.513067pt;}
.yd{bottom:47.152800pt;}
.y45{bottom:58.346267pt;}
.y46{bottom:59.667867pt;}
.y58{bottom:63.342667pt;}
.y57{bottom:63.390667pt;}
.y24{bottom:65.010667pt;}
.y25{bottom:65.179733pt;}
.y1{bottom:75.590560pt;}
.y44{bottom:77.012933pt;}
.y43{bottom:78.334533pt;}
.y56{bottom:86.009333pt;}
.y55{bottom:104.676000pt;}
.y54{bottom:104.724000pt;}
.y3c{bottom:120.657227pt;}
.y53{bottom:127.342667pt;}
.y52{bottom:127.390667pt;}
.y51{bottom:150.009333pt;}
.y50{bottom:150.057333pt;}
.y5d{bottom:150.666667pt;}
.y38{bottom:157.990533pt;}
.y34{bottom:220.667067pt;}
.y30{bottom:276.667067pt;}
.y2d{bottom:339.343733pt;}
.y29{bottom:376.677067pt;}
.y5c{bottom:390.666667pt;}
.y23{bottom:417.486933pt;}
.y20{bottom:498.030133pt;}
.y1e{bottom:534.840000pt;}
.y4f{bottom:615.324000pt;}
.y1b{bottom:640.847200pt;}
.y19{bottom:662.713867pt;}
.y14{bottom:706.447200pt;}
.y12{bottom:743.780533pt;}
.y4d{bottom:780.133867pt;}
.yb{bottom:787.513867pt;}
.y9{bottom:849.913867pt;}
.y7{bottom:871.780533pt;}
.y4c{bottom:874.998800pt;}
.y5{bottom:889.923733pt;}
.y4{bottom:908.409440pt;}
.y42{bottom:912.332133pt;}
.y3{bottom:927.076107pt;}
.y2{bottom:947.076107pt;}
.y40{bottom:1005.665467pt;}
.h6{height:18.143227pt;}
.h8{height:21.866667pt;}
.hc{height:36.809893pt;}
.ha{height:37.333333pt;}
.hb{height:38.048173pt;}
.h4{height:38.485680pt;}
.h13{height:38.864840pt;}
.hf{height:40.809893pt;}
.h11{height:41.410680pt;}
.he{height:42.656250pt;}
.h16{height:46.531250pt;}
.h7{height:46.593750pt;}
.h3{height:47.156250pt;}
.h10{height:56.000000pt;}
.h9{height:62.400000pt;}
.h2{height:69.796875pt;}
.h5{height:69.890625pt;}
.hd{height:80.543227pt;}
.h12{height:93.333333pt;}
.h14{height:164.809867pt;}
.h15{height:170.666667pt;}
.h1{height:977.485600pt;}
.h0{height:1122.666667pt;}
.wa{width:58.127533pt;}
.w3{width:94.912120pt;}
.w5{width:205.510267pt;}
.w6{width:263.544933pt;}
.wc{width:333.333333pt;}
.w7{width:469.055200pt;}
.w8{width:530.006667pt;}
.w4{width:530.006800pt;}
.wb{width:571.939067pt;}
.w2{width:624.918800pt;}
.w9{width:630.066667pt;}
.w1{width:654.152267pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x6{left:3.076107pt;}
.xb{left:5.742773pt;}
.x9{left:14.830667pt;}
.x1{left:69.590560pt;}
.x5{left:75.590560pt;}
.xa{left:133.718133pt;}
.x7{left:170.502667pt;}
.x2{left:213.076107pt;}
.x4{left:229.076107pt;}
.x3{left:263.742773pt;}
.x8{left:376.012933pt;}
}
